 
        .menu-doc {
            width: 220px;
            background-color: gray;
            border-radius: 10px ;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 50px auto; }
        .menu-doc ul {
            list-style: none;
             margin: 0;
             padding: 0;}
        
        .menu-doc ul li a {
             display: block;
             padding: 12px 18px;
             color: white;
             text-decoration: none;
             font-size: 18px;
             border-radius: 10px;
             }
        .menu-doc ul li a:hover {
             background-color: green;
             color: red;
             }
     